.getWeatherBtn {
  background-color: #147921;
  border: hover;
  color: rgb(0, 0, 0);
  padding: 9px 9px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.locationInput {
  background-color: rgb(3, 3, 3);
  border-style: double;
  padding: 9px 9px;
  color: azure;
}

.weatherDash {
  background-color: deepskyblue;
  color: rgb(19, 5, 5);
  padding: 30px;
  text-align: right;
  font-size: 50px;
  border-style: double;
}
.background {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}
.cityBtn {
  background-color: #73c72e;
  border: hover;
  color: rgb(0, 0, 0);
  margin: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cityBtnCon {
  display: flex;
  flex-direction: column;
  width: 125px;
}

.weatherDayDiv {
  width: 200px;
  height: 300px;
  border-style: outset;
  background-color: deepskyblue;
  color: white;
  padding: 3px;
  margin: 5px;
}

.citySearchBtn {
  background-color: #d90707;
  border-style: double;
  color: rgb(0, 0, 0);
  margin: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.currentDay {
  flex-direction: column;
  border-style: outset;
  background-color: aqua;
  margin-left: 100px;
  margin-right: 100rem;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
